<a href="/api/home-mercado/agregar-producto">Agregar producto</a><br><br>


	<div class="row">
		{{#each listaProductos}}
		<div class="col-md-3">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title d-flex justify-content-between align-items-center">
						{{nombre}} <a href="/api/home-mercado/editar-producto/{{_id}}"><i class="fas fa-th">Editar</i></a>
					</h4>
					<p>Su precio es: {{precio}}</p>
					<p>{{descripcion}}</p>
					<form action="/api/home-mercado/eliminar-producto/{{_id}}?_method=DELETE" method="post">
						<input type="hidden" name="_method" value="DELETE">
						<button type="submit" class="btn btn-outline-danger btn-block btn-sm">Eliminar</button>
					</form>
				</div>
			</div>

		</div>
		{{else}}
		<div class="card mx-auto">
			<div class="card-body">
				<p class="lead">No hay productos</p>
				<a href="/api/home-mercado/agregar-producto" class="btn btn-outline-success btn-block">Agregar productos</a>
			</div>
		</div>
		{{/each}}
	</div>


